<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="438d0e62-52f8-4df6-8df3-9308e17e2cfb" name="Token" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="438d0e62-52f8-4df6-8df3-9308e17e2cfbfileName">Token</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
